<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE2oZn08XR4VA7t_HIq8rMWtPfXx7ARcA</string>
	<key>GCM_SENDER_ID</key>
	<string>647858978247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mincholover.app.poet</string>
	<key>PROJECT_ID</key>
	<string>poem-7017-project</string>
	<key>STORAGE_BUCKET</key>
	<string>poem-7017-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647858978247:ios:7295794fa704f6631e6de2</string>
</dict>
</plist>